body{
    margin: 0;
}
ul{
    list-style-type: none;
    width: 15%;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    height: 1000px;
    position: fixed;
    overflow: auto;
}
li a{
    display: block;
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #555;
    color: #ffffff;
}
.active{
    background-color: rgb(37, 150, 190);
    color: white;
}
li a:hover:not(.active){
    background-color: #08ac6c;
    color: white;
}
div{
    margin-left: 15%;
    padding: 1px 16px;
    height: 1000px
    
}